{% extends 'base.html' %}
{% block content %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<!-- Header-->
<header style="background-color: #fff3d9; font-family: 'Open Sans', sans-serif;" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">ABOUT US</h1>
        </div>
    </div>
</header>
<br/>

<div class="container" style="background-color: #fff3d9; font-family: 'Open Sans', sans-serif;">
   <div class="row">
     <div class="col-8">
         <h3>Welcome to Clodes Apparel, where style meets comfort.
             We believe in providing high-quality, versatile clothing that fits seamlessly into every aspect of your life.
             From casual wear to timeless staples, our pieces are designed to make you feel confident and comfortable, no matter the occasion.
             At Clodes Apparel, we are committed to delivering fashion that blends durability with modern style.
             Explore our collection and discover wardrobe essentials you’ll love to wear every day.</h3>
     </div>
   </div>
</div>


{% endblock %}