{% extends 'base.html' %}
{% block content %}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<!-- Header-->
<header style="background-color: #fff3d9; font-family: 'Open Sans', sans-serif;" class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">ABOUT US</h1>
            <p class="lead fw-normal text-dark-50 mb-0">WELCOME PRE</p>
        </div>
    </div>
</header>


       <div class="container">
           <div class="row">
             <div class="col-8">
                 CONTENT
             </div>
           </div>
       </div>
{% endblock %}