.idea/.gitignore linguist-generated=true
.idea/Software Engineering.iml linguist-generated=true
.idea/inspectionProfiles/profiles_settings.xml linguist-generated=true
.idea/misc.xml linguist-generated=true
.idea/modules.xml linguist-generated=true
.idea/vcs.xml linguist-generated=true
clodesapparel linguist-generated=true
