.idea/.gitignore linguist-generated=false
.idea/Software Engineering.iml linguist-generated=false
.idea/inspectionProfiles/profiles_settings.xml linguist-generated=false
.idea/misc.xml linguist-generated=false
.idea/modules.xml linguist-generated=false
.idea/vcs.xml linguist-generated=false
clodesapparel linguist-generated=false
